# Ignore PDFs folder
/backend/pdfs
backend/__pycache__/
backend/embeddings_cache.pkl
# Ignore frontend dependencies and lock file
/frontend/node_modules/
/frontend/package-lock.json

backend/api_keys.json
